{% extends "base.html" %}

{% block header %}
    <h1 class="page-title">{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Unique Questions</th>
                </tr>
            </thead>
            {% for index, row in unique_questions.items() %}
                <tr>
                    <td>{{ index }}</td>
                    <td>{{ row["unique_questions"] }}</td>
                </tr>
            {% endfor %}    
        </table>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Questions By Year</th>
                </tr>
            </thead>
            {% for row in years.values() %}
                <tr>
                    <td>{{ row["year"] }}</td>
                    <td>{{ row["count"] }}</td>
                </tr>
            {% endfor %}    
        </table>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Total Questions</th>
                </tr>
            </thead>
            {% for index, row in total_questions.items() %}
                <tr>
                    <td>{{ index }}</td>
                    <td>{{ row["total_questions"] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}