<!doctype html>

{% extends "base.html" %}

{% block header %}
    <h1 class="page-title">{% block title %}Search{% endblock %}</h1>
{% endblock %}

{% block content %}
<form id="search-form">
    <div class="form-container">
        <div class="form-group">
            <label for="table-select" class="form-label">Table</label>
            <select class="form-select" onchange="getColumns(event)" name="table-select" id="table-select">
                {% for table in tables %}
                    <option value="{{ table }}">{{ table.title() }}</option>
                {% endfor %}
            </select>
        </div class="form-group">
        <div class="form-group">
            <label for="column-select" class="form-label">Column</label>
            <select class="form-select" id="column-select" name="column-select">
                {% for column in columns %}
                    <option value="{{ column }}">{{ column.title() }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="keyword-search" class="form-label">Search</label>
            <input type="text" class="form-control" placeholder="Search by Keyword..." id="keyword-search" name="keyword-search">
        </div>
        <div class="form-group">
            <label for="search-button" class="form-label">&#x200B</label>
            <button type="submit" class="btn btn-primary" id="search-button">Search</button>
        </div>
    </div>
</form>
<div class="table-box">
    <table id="search-results-table" class="table table-hover">
    </table>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='utilities.js') }}"></script>
{% endblock %}