{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Search{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div>
        <form>
            <select>
                {% for table in tables %}
                    <option value="{{ table }}">{{ table.title() }}</option>
                {% endfor %}
            </select>
            
        </form>
    </div>
    <div>
        <table>
            <tr>
                <th></th>
                <th>Unique Questions</th>
            </tr>
            {% for row in unique_questions %}
                <tr>
                    <td>row.unique_questions</td>
                </tr>
            {% endfor %}
                
        </table>
    </div>
{% endblock %}