{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Search{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div>
        <form>
            <select onchange="getColumns(event)" id="table-select">
                {% for table in tables %}
                    <option value="{{ table }}">{{ table.title() }}</option>
                {% endfor %}
            </select>
            <select id="column-select">
                {% for column in columns %}
                    <option value="{{ column }}">{{ column.title() }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    <div>
        <table>
            <tr>
                <th></th>
                <th>Unique Questions</th>
            </tr>
            {% for row in unique_questions %}
                <tr>
                    <td>row.unique_questions</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='utilities.js') }}"></script>
{% endblock %}