button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: #C6C6C6;
    width: 100%;
    padding: 0em 5em;
}

.form-parent {
    margin:0;
}

#keyword-search {
	margin-top: 3em;
}

.table-box {
	margin-bottom: 2em;
}

.finalize-table-div {
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
}

.primary-button {
	align-self: flex-end;
}

.deny-button {
    background-color: #C41E3A;
	margin: 0em 1em 0em 1em;
}
.deny-button:hover {
    background-color: #880808; /* Darker blue for hover */
}

.button-container {
	align-self: flex-end;
}

.number-displayed {
	margin-bottom: 1em;
}