{% extends "base.html" %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/metrics.css') }}">
    <h1 class="page-title">{% block title %}Metrics{% endblock %}</h1>
{% endblock %}

{% block content %}
    <section class="nav-panel">
        <nav class="floating-nav" id="floatingNav">
            <div class="floating-nav-header">
                <h3 class="floating-nav-title">Metric</h3>
            </div>
            <ul class="floating-nav-list">
                <li class="floating-nav-item">
                    <a class="floating-nav-link" href="{{ url_for("metrics.index") }}">Approval Rate by User</a>
                </li>
                <li class="floating-nav-item">
                    <a class="floating-nav-link" href="{{ url_for("metrics.daily_links") }}">Daily Links</a>
                </li>
                <li class="floating-nav-item">
                    <a class="floating-nav-link" href="{{ url_for("metrics.projections") }}">Linking Projections</a>
                </li>
            </ul>
        </nav>
    </section>
    <section class="main-panel">
        {% block main_panel %}{% endblock %}
    </section>
{% endblock %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='metrics/metrics.js') }}"></script>
{% endblock %}