{% extends "metrics/base.html" %}

{% block main_panel %}
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Percent Approved</th>
                </tr>
            </thead>
            {% for row in approval_by_user.values() %}
                <tr>
                    <td>{{ row["user"] }}</td>
                    <td>{{ row["percent_approved"] }}</td>
                </tr>
            {% endfor %}    
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script type="module" src="https://1.www.s81c.com/common/carbon/web-components/tag/v2/latest/progress-bar.min.js"></script>
{% endblock %}