{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/search.css') }}">
    <h1 class="page-title">{% block title %}Search{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div>
        <h3>Search the PIR Database</h3>
        <ul>
            <li>Use the search bar to search for PIR questions.</li>
            <li>Expand rows to see all linked questions.</li>
            <li>Click the edit button to add or remove linked questions.</li>
        </ul>
    </div>
    <form id="search-form">
        <div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search By Keyword..." id="keyword-search" name="keyword-search">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" id="search-button" hidden>Search</button>
            </div>
        </div>
    </form>
    <div class="table-box">
        <table id="search-results-table" class="table table-hover">
        </table>
    </div>
    <cds-modal id="search-modal" size="lg" has-footer="" has-scrolling-content hidden="true">
        <div id="cds-modal-div">
            <cds-modal-header close-button="">
                <cds-modal-close-button></cds-modal-close-button>
                <div class="spacer"></div>
                <div id="search-modal-header">Editing</div>
            </cds-modal-header>
            <cds-modal-body>                
                <div class="modal-table-box">
                    <table id="flashcard-question-table" class="table table-hover">
                    </table>
                </div>
                <div class = "modal-box">
                    <form id="modal-search-form">
                        <div class="form-container">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search by Keyword..." id="modal-keyword-search" name="keyword-search">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" id="modal-search-button" hidden>Search</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-table-box">
                    <table id="flashcard-matches-table" class="table table-hover">
                    </table>
                </div>
            </cds-modal-body>
            <cds-modal-footer>
                <div id="modal-button-filler-div"></div>
                <cds-modal-footer-button id="cancel-button" kind="secondary" data-modal-close="" size="sm" tab-index="0" tooltip-alignment="" tooltip-position="top" type="button" has-main-content="">
                    Cancel
                </cds-modal-footer-button>
                <cds-modal-footer-button id="confirm-button" kind="primary" size="sm" tab-index="0" tooltip-alignment="" tooltip-position="top" type="button" has-main-content="" onclick="commitChanges(event)">
                    Confirm Changes
                </cds-modal-footer-button>
            </cds-modal-footer>
        </div>
      </cds-modal>
{% endblock %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='search/search.js') }}"></script>
    <script type="module" src="https://1.www.s81c.com/common/carbon/web-components/tag/v2/latest/modal.min.js"></script>
{% endblock %}