{% extends "base.html" %}

{% block header %}
    <h1 class="page-title">{% block title %}Review{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="table-box">
        <table id="flashcard-question-table" class="table table-hover">
        </table>
    </div>
    <div class="table-box">
        <table id="flashcard-matches-table" class="table table-hover">
        </table>
    </div>
    <div class="button-container">
        <button class="btn btn-primary">Previous</button>
        <button class="btn btn-primary">Mark Complete</button>
        <button class="btn btn-primary">Next</button>
    </div>
{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='reviewFlashCard.js') }}"></script>
{% endblock %}