{% extends "base.html" %}

{% block header %}
    <h1 class="page-title">{% block title %}Review{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="table-box">
        <table id="flashcard-question-table" class="table table-hover">
            <thead>
                {% for column in columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </thead>
            <tbody>
                <tr>
                    {% for rec in record.values() %}
                        <td>{{ rec }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-box">
        <table id="flashcard-matches-table" class="table table-hover">
            <thead>
                {% for column in matches[0] %}
                    <th>{{ column }}</th>
                {% endfor %}
            </thead>
            <tbody>
                {% for match in matches[1:] %}
                    <tr>
                        {% for m in match.values() %}
                            <td>{{ m }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>     
        </table>
    </div>
    <div class="button-container">
        <button class="btn btn-primary">Previous</button>
        <button class="btn btn-primary">Mark Complete</button>
        <button class="btn btn-primary">Next</button>
    </div>
{% endblock %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='review.js') }}"></script>
{% endblock %}