{% extends "base.html" %}

{% block header %}
    <h1 class="page-title">{% block title %}Review{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h2>
        Select which types of questions you would like to review
    </h2>
    <div class="card-container">
        <div class="card" onclick="buildFlashcardPage(event)">
            <div class="card-body" value="unlinked">Unlinked</div>
        </div>
        <div class="card" onclick="buildFlashcardPage(event)">
            <div class="card-body" value="intermittent">Intermittent</div>
        </div>
        <div class="card" onclick="buildFlashcardPage(event)">
            <div class="card-body" value="inconsistent">Inconsistent</div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='reviewFlashCard.js') }}"></script>
{% endblock %}