{% extends "base.html" %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/finalize.css') }}">
    <h1 class="page-title">{% block title %}Finalize{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div>
        <h3>Finalize Changes</h3>
        <ul>
            <li>Review the links proposed below.</li>
            <li>
                Confirm or deny each link
                <ul>
                    <li>Click the <strong>Deny</strong> button to deny a link, removing it from the list of proposed changes.</li>
                    <li>Click the <strong>Confirm</strong> button to accept a link, committing it to the database.</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="number-displayed">
        <label for="number-displayed">
            Number of Records to Display:
        </label>
        <select name="number-displayed" id="number-displayed" onchange="paginate(event)">
            <option value=5>5</option>
            <option value=10 selected="selected">10</option>
            <option value=25>25</option>
            <option value=50>50</option>
        </select>
    </div>
    <div class="table-box">
    </div>
{% endblock %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='finalize/finalize.js') }}"></script>
    <script type="module" src="https://1.www.s81c.com/common/carbon/web-components/tag/v2/latest/button.min.js"></script>
{% endblock %}

{% block footer %}
    <div class="footer">
        <div class="form-parent">
            <div class="form-container left">
                <form id="flashcard-buttons" onsubmit="paginate(event)">
                    <button class="wrapper-button secondary-button" type="submit" name="action" value="previous" id="previous-button">Previous</button>
                    <button class="wrapper-button secondary-button" type="submit" name="action" value="next" id="next-button">Next</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
