/* nav */
nav {
    display: flex;
    align-items: center;
    background-color: #264A64;
}

nav ul {
    display: flex;
    list-style: none;
    padding-right: 1em;
}

nav ul li {
    padding: .5em;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav h1 {
    padding-left: 1em;
    color: black;
}

/* section */
section#tables {
    display: flex;
    justify-content: space-between;
    margin-left: 5em;
    margin-right: 5em;
}

/* div */
div.table-container {
    padding: 1em;
}

/* heading */
h1#home-title {
    text-align: center;
}

/* Table styling */
/* adapted from https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l */
.styled-table {
    border-collapse: collapse;
    /* margin: 25px 0; */
    font-size: 0.9em;
    font-family: sans-serif;
    /* min-width: 400px; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #21272D;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #21272D;
}


/* .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
} */