{% extends "base.html" %}

{% block header %}
    <h1 class="page-title">{% block title %}Review{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="form-parent">
        <div class="form-container left">
            <form id="flashcard-buttons" onsubmit="flashcardAction(event)">
                    <input type="hidden" id="review-type-input" name="review-type" value="">
                    <button class="btn btn-primary" type="submit" name="action" value="confirm">Mark Complete</button>
            </form>
        </div>
        <div class="form-container right">
            <form id="finished-button" method="post">
                    <button class="btn btn-primary" type="submit" name="action" value="finish">Finish</button>
            </form>
        </div>
    </div>
    <div class="table-box">
        <table id="flashcard-question-table" class="table table-hover">
        </table>
    </div>
    <div class="table-box">
        <table id="flashcard-matches-table" class="table table-hover">
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='search/flashcard.js') }}"></script>
{% endblock %}