{% extends "base.html" %}

{% block header %}
    <h1 class="page-title">{% block title %}Search{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form id="search-form">
        <div class="form-container">
            <div class="form-group">
                <label for="keyword-search" class="form-label">Search</label>
                <input type="text" class="form-control" placeholder="Search by Keyword..." id="keyword-search" name="keyword-search">
            </div>
            <div class="form-group">
                <label for="search-button" class="form-label">&#x200B</label>
                <button type="submit" class="btn btn-primary" id="search-button">Search</button>
            </div>
        </div>
    </form>
    <div class="table-box">
        <table id="search-results-table" class="table table-hover">
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='search/search.js') }}"></script>
{% endblock %}