annotated-types==0.7.0
async-generator==1.10
attrs==25.4.0
blinker==1.9.0
boto3==1.42.51
botocore==1.42.51
build==1.4.0
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
coverage==7.13.4
et_xmlfile==2.0.0
Flask==3.1.2
fuzzywuzzy==0.18.0
greenlet==3.3.1
h11==0.16.0
idna==3.11
importlib_metadata==8.7.1
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.1.0
Levenshtein==0.27.3
MarkupSafe==3.0.3
mypy_extensions==1.1.0
numpy==2.4.2
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==26.0
pandas==3.0.1
pir_pipeline @ file:///home/reggie.gilliard%40acf.hhs.local/repos/ACF-pir-data/dist/pir_pipeline-1.0.0-py3-none-any.whl#sha256=5d55760b791c8cb765f7cf4765e4685fdee0849be17eef6245884f18800cae69
pluggy==1.6.0
psycopg==3.3.3
psycopg-binary==3.3.3
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pyproject_hooks==1.2.0
PySocks==1.7.1
pytest==9.0.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-Levenshtein==0.27.3
RapidFuzz==3.14.3
requests==2.32.5
s3transfer==0.16.0
selenium==4.40.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
SQLAlchemy==2.0.46
SQLAlchemy-Utils==0.42.1
trio==0.33.0
trio-typing==0.10.0
trio-websocket==0.12.2
types-certifi==2021.10.8.3
types-urllib3==1.26.25.14
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
waitress==3.0.2
websocket-client==1.9.0
Werkzeug==3.1.5
wsproto==1.3.2
xlrd==2.0.2
zipp==3.23.0
